<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>株式会社MH CARGO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../css/html5reset.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/animation.css" />
</head>
<body>
    <header id="top" class="clearFix mgB03">
        <nav id="navi">
        	<div id="rogo">
            	<img src="../images/rogo.png" width="170" height="55" alt="MH CARGO">
            </div>
            <ul>
                <li><a href="index.html">ホーム<br>home</a></li>
                <li><a href="job.html">事業案内<br>business</a></li>
                <li><a href="company.html" class="active">会社概要<br>company</a></li>
                <li><a href="recruit.html">求人情報<br>recruit</a></li>
                <li><a href="info.html">お問い合わせ<br>information</a></li>
                <li><a href="index.html">リンク<br>link</a></li>
            </ul>
        </nav>
    </header>
    <div id="mainContainer" class="clearFix"> <!-- mainContainer -->
		<div id="leftBox">
			<h1><img src="../images/title_company.png" width="284" height="35"></h1>
			<img src="../images/line_02.png" class="mgB06">
			<img src="../images/line_01.png">
			<section class="clearFix">
				<section id="greetingContainer" class="clearFix mgB03">
					<article>
						　弊社のホームページをご覧頂きましてありがとう御座います。
						（株）MH CARGO は 創業以来 、航空貨物を主として安全・迅速・正確・誠意をモットーに物流事業一筋に歩んでまいりました。今日を迎えることができたのも、お客様のご支援・お引き立てによるものと深く感謝しております。<br><br>　世の中の変遷は著しく、物流の世界も大きく変貌しました。私達は、絶えずお客様のニーズを探りながら、その時代に沿った物流サービスを提供していくことを責務とし、お客様から愛される企業を目指していきます。 また、高品質なサービスの創造と提供を行っていくため、社員教育を徹底し企業努力を惜しまず、あらゆる課題解決に向け社員一丸となって取り組んで行く所存でございます。<br><br>　これからも「任せて安心」とお客様からお言葉を頂け ます よう邁進して参りますので、今後ともご愛顧を賜りますようお願い申し上げます。
					</article>
					<article class="floatR mgTB02">
						<img src="../images/ceoname.png">
					</article>
				</section>
				<table id="companyBox">
					<tr>
						<th><span>商号</span></th>
						<td>株式会社MH CARGO</td>
					</tr>
					<tr>
						<th><span>本社所在地</span></th>
						<td>千葉県成田市川上245-694
							<br>TEL:0476-49-0022　FAX:0476-49-0303</td>
					</tr>
					<tr>
						<th><span>成田空港営業所</span></th>
						<td>千葉県成田市成田国際空港内 第1貨物代理店ビル312号
							<br>TEL: 0476-32-8002　FAX: 0476-32-8005</td>
					</tr>
					<tr>
						<th><span>設立年月日</span></th>
						<td>平成15年7月11日</td>
					</tr>
					<tr>
						<th><span>代表者氏名</span></th>
						<td>林　光雄</td>
					</tr>
					<tr>
						<th><span>事業内容</span></th>
						<td>一般貨物自動車運送事業 （関自貨第１８６１号
							<br>第一種貨物利用運送事業（関自貨第１７５４号）
							<br>貨物軽自動車運送事業（関東運輸局、千葉運輸支局届出）
							<br>航空貨物関連業務請負業
							<br>特定労働者派遣事業（特１２－３００１７３）
					</tr>
					<tr>
						<th><span>加盟団体</span></th>
						<td>成田法人会
							<br>千葉県トラック協会
							<br>陸運労災防止協会　千葉県支部
							<br>流通ネットワーク協同組合
					</tr>
					<tr>
						<th><span>運送保険</span></th>
						<td>㈱損害保険ジャパン
						<br />輸送中：3000万円、保管中：4000万円</td>
					</tr>
					<tr>
						<th><span>従業員数</span></th>
						<td>16名　平成25年3月現在</td>
					</tr>
					<tr>
						<th><span>取引銀行</span></th>
						<td>千葉銀行(高塚支店 成田西支店)　
							<br>三菱東京UFJ銀行(成田空港支店)
                            <br>京葉銀行(成田支店)
                        </td>
					</tr>
					<tr>
						<th><span>主要取引先</span></th>
						<td>
							㈱ＩＳＵカーゴ
							<br>ＬＥＣＳ　ＪＡＰＡＮ㈱
							<br>ＴＯＥＩホールディングス㈱
							<br>朝日森運輸㈱
							<br>㈱アリスペッド　ジャパン
							<br>㈱アルファ　グローバル　ロジスティクス
							<br>㈱エイシーシステムコーポレイション
							<br>㈱エーアイティー
							<br>㈱エキスプレス二十一
							<br>㈱エスラインギフ
							<br>㈱オーティーエス・ジャパン
							<br>(有)晴和商事
							<br>㈱辰巳商會
							<br>㈱ティーエムトランスポート
							<br>トナミ運輸㈱
							<br>㈱日本シネアーツ社
							<br>パナルピナ・ワールド・トランスポート・ジャパン㈱
							<br>㈱ハブネット
							<br>㈱阪急阪神ロジパートナーズ
							<br>プラスカーゴサービス㈱
							<br>㈱ブルーリンク
							<br>マーケン・リミテッド
							<br>ヤマトグローバルエキスプレス㈱ 
							<br>ライザエキスパート㈱
							<br><br>※順不同
						</td>	
					</tr>
					<tr>
						<th><span>保有車両一覧</span></th>
						<td>
                        	15t
                            <br>　低温冷凍車
                            <br>15t
                        	<br>　低床エアサスウイング車　1台
							
                            <br>4t
                            <br>　ワイドエアサスウイング車　2台
                            <br>　エアサスウイング車　1台
                            <br>　エアサスウイングPG車　1台
                            <br>　ウイング車　1台
                            
                            <br>2t
                            <br>　ロングバン車　1台
                            <br>　バン車　1台
                            
                            <br>1t
                            <br>　バン車　2台
                            
                            <br>軽貨物
                            <br>　バン車　2台
                            <br>　箱車　1台
                            
                            <br>2、5tフォークリフト　1台
                            
                            
                            
                            
                            
                            
                            
                            
                            </td>
					</tr>                    
				</table>
			</section>
            
            <section id="carTable">
                <ul style="float:left;overflow:hidden;">
                    <li>
                    	<img src="../images/car_001.jpg"><div>説明文入ります。<br />保有台数：１０台</div>
                    </li>
                    <li>
                    	<img src="../images/car_002.jpg"><div>説明文入ります。<br />保有台数：１０台</div>
                    </li>
				</ul>      	
                <ul style="float:right;overflow:hidden;">
                    <li>
                    	<img src="../images/car_003.jpg"><div>説明文入ります。<br />保有台数：１０台</div>
                    </li>
				</ul>      	

            </section>
            
            
		</div>
		
        <section id="companyContainer">
			<article id="companyTitle" class="titleBox"> 
				<h2>お問い合わせ</h2>
				<span>Information</span>
		  </article>
            <ul>
                <li>
                    <h5>本社所在地</h5>
                    〒287-0244<br>
                    千葉県成田市川上245-694
                </li>
                <li>
                    <h5>成田営業所所在地</h5>
                    〒282-0004<br>
                    千葉県成田市成田国際空港内 第1貨物代理店ビル312号 
                </li>
                <li>
                    <h5>お問い合わせ先</h5>
                    <h4>0476-49-0022</h4>
                </li>
            </ul>
			<section id="infoBox">
				<a href="infomation.html">メールでの問い合せはこちら</a>
			</section>
        </section>
		<section class="calle25Box mgB03">
			<a href="http://www.challenge25.go.jp/index.html" target="blank">
				<img src="../images/challe25.png" width="298" height="138">
			</a>
	  </section>
		<section class="calle25Box">
			<a href="http://www.shutoko.jp/" target="blank">
				<img src="../images/traffic_report.png" width="298" height="100">
			</a>
		</section>
        
	</div>    <!-- //mainContainer -->
	
    <footer>
        <article id="shadowBox">
            <a href="#top">▲ GO TOP</a>
        	<img src="../images/line-footer.png" width="1000" height="36">
	  </article>
        <section id="footerContainer">
            <article id="footerRogoBox">
            	<img src="../images/rogo03.png" width="384" height="75">
            </article>
            <article id="siteMap">
            <a href="index.html">ホーム</a>　　<a href="job.html">事業案内</a>　　<a href="company.html">会社概要</a>　　<a href="recruit.html">求人情報</a>　　<a href="info.html">お問い合わせ</a><br>　　<a href="index.html">リンク</a>　　<a href="privacy.html">プライバシーポリシー</a><br><br>
            本社：千葉県成田市川上245-694 <br> 　
            TEL:0476-49-0022　FAX:0476-49-0303<br>
            Copyright (c) 2012 MH CARGO.inc.All Rights Reserved.
            </article>
        </section>
    </footer>
</body>
</html>
