<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>株式会社MH CARGO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../css/html5reset.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/animation.css" />
</head>
<body>
    <header id="top" class="clearFix mgB03">
        <nav id="navi">
        	<div id="rogo">
            	<img src="../images/rogo.png" width="170" height="55" alt="MH CARGO">
            </div>
            <ul>
                <li><a href="index.html">ホーム<br>home</a></li>
                <li><a href="job.html">事業案内<br>business</a></li>
                <li><a href="company.html" class="active">会社概要<br>company</a></li>
                <li><a href="recruit.html">求人情報<br>recruit</a></li>
                <li><a href="info.html">お問い合わせ<br>information</a></li>
                <li><a href="index.html">リンク<br>link</a></li>
            </ul>
        </nav>
    </header>
    <div id="mainContainer" class="clearFix"> <!-- mainContainer -->
		<div id="leftBox">
			<h1><img src="../images/title_environment.png" height="35"></h1>
			<img src="../images/line_02.png" class="mgB06">
			<img src="../images/line_01.png">
			<section class="clearFix">
				<table id="companyBox">
					<tr>
						<th>■輸送の安全に関する基本的な方針</th>
						<td></td>
					</tr>
					<tr>
						<th><img src="../images/environment001.png" /></th>
						<td>［低燃費タイヤの装着］
                        	<br><br>転がり抵抗の少ない低燃費タイヤを装着し適切な空気圧で走行することで、燃費の向上、CO2排出の削減を目指しています。
                      </td>
					</tr>
					<tr>
						<th><img src="../images/environment002.png" /></th>
						<td>［環境性能に配慮した車両の導入］
                        	<br><br>環境性能車両を随時導入することで、さらなる輸送効率の向上、燃費向上、安全輸送の徹底を目指し、さらなる進化を目指していきます。
                      </td>
					</tr>
					<tr>
						<th style="text-align:center;"><img src="../images/environment003.png" /></th>
						<td>［エコドライブ、アイドリングストップ］
                   	  <br><br>エコドライブの推進、アイドリングストップの励行など二酸化炭素（CO2）削減を目指しています。</td>
					</tr>
					<tr>
						<th style="text-align:center;"><img style="margin-top:30px;" src="../images/environment004.png" /></th>
						<td>［チャレンジ25キャンペーン］
                        	<br><br>当社は環境省が推進する地球温暖化防止の国民運動である「チャレンジ25キャンペーン」に参加しています。わが国は、国連気候変動サミットにおいて「2020年までに温室効果ガス排出量を1990年比25%削減する」という目標を表明しています。「チャレンジ25キャンペーン」とは、この目標達成に向け、政府がオフィスや家庭などその行動の実践を呼びかけるものです。当社としてもこれに賛同し、CO2の排出量削減に貢献していくとともに、通常業務においても社員一人ひとりが意識的に省エネルギーに取り組むことで、一企業として環境保全活動を推進しています。
                            
                      </td>
					</tr>
				</table>
			</section>
            
	  </div>
		
        <section id="companyContainer">
			<article id="companyTitle" class="titleBox"> 
				<h2>お問い合わせ</h2>
				<span>Information</span>
		  </article>
            <ul>
                <li>
                    <h5>本社所在地</h5>
                    〒287-0244<br>
                    千葉県成田市川上245-694
                </li>
                <li>
                    <h5>成田営業所所在地</h5>
                    〒282-0004<br>
                    千葉県成田市成田国際空港内 第1貨物代理店ビル312号 
                </li>
                <li>
                    <h5>お問い合わせ先</h5>
                    <h4>0476-49-0022</h4>
                </li>
            </ul>
			<section id="infoBox">
				<a href="infomation.html">メールでの問い合せはこちら</a>
			</section>
        </section>
		<section class="calle25Box mgB03">
			<a href="http://www.challenge25.go.jp/index.html" target="blank">
				<img src="../images/challe25.png" width="298" height="138">
			</a>
	  </section>
		<section class="calle25Box">
			<a href="http://www.shutoko.jp/" target="blank">
				<img src="../images/traffic_report.png" width="298" height="100">
			</a>
		</section>
        
	</div>    <!-- //mainContainer -->
	
    <footer>
        <article id="shadowBox">
            <a href="#top">▲ GO TOP</a>
        	<img src="../images/line-footer.png" width="1000" height="36">
	  </article>
        <section id="footerContainer">
            <article id="footerRogoBox">
            	<img src="../images/rogo03.png" width="384" height="75">
            </article>
            <article id="siteMap">
            <a href="index.html">ホーム</a>　　<a href="job.html">事業案内</a>　　<a href="company.html">会社概要</a>　　<a href="recruit.html">求人情報</a>　　<a href="info.html">お問い合わせ</a><br>　　<a href="index.html">リンク</a>　　<a href="privacy.html">プライバシーポリシー</a><br><br>
            本社：千葉県成田市川上245-694 <br> 　
            TEL:0476-49-0022　FAX:0476-49-0303<br>
            Copyright (c) 2012 MH CARGO.inc.All Rights Reserved.
            </article>
        </section>
    </footer>
</body>
</html>
