<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>株式会社MH CARGO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../css/html5reset.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/animation.css" />
</head>
<body>
    <header id="top" class="clearFix mgB03">
        <nav id="navi">
        	<div id="rogo">
            	<img src="../images/rogo.png" width="170" height="55" alt="MH CARGO">
            </div>
            <ul>
                <li><a href="index.html">ホーム<br>home</a></li>
                <li><a href="index.html" class="active">事業案内<br>business</a></li>
                <li><a href="company.html">会社概要<br>company</a></li>
                <li><a href="recruit.html">求人情報<br>recruit</a></li>
                <li><a href="info.html">お問い合わせ<br>information</a></li>
                <li><a href="index.html">リンク<br>link</a></li>
            </ul>
        </nav>
    </header>
<div id="mainContainer" class="clearFix"> <!-- mainContainer -->
	<div id="leftBox">
		<h1><img src="../images/title_job.png" width="284" height="35"></h1>
		<img src="../images/line_02.png" class="mgB06">
		<p class="mgB03">テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。<br />
			テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。テキスト入ります。<br /></p>
		<section class="clearFix">
			<section id="jobContainer" class="clearFix mgB03">
				<ul>
					<li>
						<article class="imgBox"><img src="../images/job_01.jpg"></article>
						<div class="subClassBox">
							<section class="leftBox">
								<h3>
									<img src="../images/job_01_sub01.png">
								</h3>
								<p>お客様にお届けする大切な商品、製品を御社に代わって確実にお届けします</p>
							</section>
							<section class="rightBox">
								<article>
									<img src="../images/job_001_1.jpg" alt="">
								</article>
							</section>
						</div>
						<div class="subClassBox">
							<section class="leftBox clearFix">
								<h3>
									<img src="../images/job_01_sub02.png">
								</h3>
								<p>。 ウイング車、パワーゲート車、エアサス車、ユニック車、平ボディー車等、 運搬物の特徴や、物量に応じた車両をご用意いたします。 荷主様のご要望に応じた輸送サービスをご提供いたします。</p>
							</section>
							<section class="rightBox">
								<article>
									<img src="../images/job_001_2.jpg" alt="">
								</article>
							</section>
						</div>
					</li>
					<li>
						<article class="imgBox"><img src="../images/job_02.jpg"></article>
						<div class="subClassBox">
							<section class="leftBox">
								<h3>
									<img src="../images/job_02_sub01.png">
								</h3>
								<p>輸入許可後、搬出の手続きをし、トラックドックに搬出された貨物を個数や梱包状態、ダメージの確認など必要な項目のチェックを行い、フォークリフトで積込みお客様のもとへ配送いたします。</p>
							</section>
							<section class="rightBox">
								<article>
									<img src="../images/job_002_1.jpg" alt="">
								</article>
							</section>
						</div>
						<div class="subClassBox">
							<section class="leftBox">
								<h3>
									<img src="../images/job_02_sub02.png">
								</h3>
								<p> 荷主様からのご依頼を頂き、日本全国へ集荷に向かいます。　成田空港及び周辺保税蔵置場所へ配送いたします。<br />※当社は成田空港貨物地区に営業所があり、又貨物地区内に自社フォークリフトと熟知したスタッフが居りますので、急なご依頼でも迅速に対応いたします。又、通関業者との業務提携により通関の手配も代行して、円滑にお荷物の輸送ができるように、お客様に代わって行います。通関業務から配送まで、お客様のご要望に迅速なサービスを提供させていただきます。</p>
							</section>
							<section class="rightBox">
								<article>
									<img src="../images/job_002_2.jpg" alt="">
								</article>
							</section>
						</div>
					</li>
					<li>
						<article class="imgBox"><img src="../images/job_03.jpg"></article>
						<div class="subClassBox">
							<section class="leftBox">
								<h3>
									<img src="../images/job_01_sub01.png">
								</h3>
								<p>特急配達！！とにかくすぐに届けたいという時に。 毎日でも、毎週でも、週一日でも決まった時間に決まった場所へ届けて欲しいという時に。 専用貨物車両付の専属ドライバーがほしいという時に。 書類をすぐ届けたいという時に。 チャーター便、ルート便等。</p>
							</section>
							<section class="rightBox">
								<article>
									<img src="../images/job_003_1.jpg" alt="">
								</article>
							</section>
						</div>
					</li>
				</ul>
			</section>
		</section>
	</div>
        <section id="companyContainer">
			<article id="companyTitle" class="titleBox"> 
				<h2>お問い合わせ</h2>
				<span>Information</span>
		  </article>
            <ul>
                <li>
                    <h5>本社所在地</h5>
                    〒287-0244<br>
                    千葉県成田市川上245-694
                </li>
                <li>
                    <h5>成田営業所所在地</h5>
                    〒282-0004<br>
                    千葉県成田市成田国際空港内 第1貨物代理店ビル312号 
                </li>
                <li>
                    <h5>お問い合わせ先</h5>
                    <h4>0476-49-0022</h4>
                </li>
            </ul>
			<section id="infoBox">
				<a href="infomation.html">メールでの問い合せはこちら</a>
			</section>
        </section>
		<section class="calle25Box mgB03">
			<a href="http://www.challenge25.go.jp/index.html" target="blank">
				<img src="../images/challe25.png" width="298" height="138">
			</a>
		</section>
		<section class="calle25Box">
			<a href="http://www.shutoko.jp/" target="blank">
				<img src="../images/traffic_report.png" width="298" height="100">
			</a>
		</section>
	</div>    
    <!-- //mainContainer -->
    <footer>
        <article id="shadowBox">
            <a href="#top">▲ GO TOP</a>
        	<img src="../images/line-footer.png" width="1000" height="36">
	  </article>
        <section id="footerContainer">
            <article id="footerRogoBox">
            	<img src="../images/rogo03.png" width="384" height="75">
            </article>
            <article id="siteMap">
            <a href="index.html">ホーム</a>　　<a href="job.html">事業案内</a>　　<a href="company.html">会社概要</a>　　<a href="recruit.html">求人情報</a>　　<a href="info.html">お問い合わせ</a><br>　　<a href="index.html">リンク</a>　　<a href="privacy.html">プライバシーポリシー</a><br><br>
            本社：千葉県成田市川上245-694 <br> 　
            TEL:0476-49-0022　FAX:0476-49-0303<br>
            Copyright (c) 2012 MH CARGO.inc.All Rights Reserved.
            </article>
        </section>
    </footer>
</body>
</html>
