<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>株式会社MH CARGO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../css/html5reset.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/animation.css" />
</head>
<body>
    <header id="top" class="clearFix mgB03">
        <nav id="navi">
        	<div id="rogo">
            	<img src="../images/rogo.png" width="170" height="55" alt="MH CARGO">
            </div>
            <ul>
                <li><a href="index.html">ホーム<br>home</a></li>
                <li><a href="index.html" class="active">事業案内<br>business</a></li>
                <li><a href="company.html">会社概要<br>company</a></li>
                <li><a href="recruit.html">求人情報<br>recruit</a></li>
                <li><a href="info.html">お問い合わせ<br>information</a></li>
                <li><a href="index.html">リンク<br>link</a></li>
            </ul>
        </nav>
    </header>
<div id="mainContainer" class="clearFix"> <!-- mainContainer -->
	<div id="leftBox">
		<h1><img src="../images/title_privacy.png" width="284" height="35"></h1>
		<img src="../images/line_02.png" class="mgB06">
		<p>株式会社 MH CARGO（以下「当社」という）は、「創造 貢献」を経営理念に掲げ、独創的で優れた商品・サービスを提供することを通じて社会に貢献します。
		そして、当社の企業活動に関わる全てのステークホルダーの皆様の個人情報を安全かつ適切に取り扱うことを重要な社会的責務として認識し、以下の「個人情報保護方針」を定め、個人情報の保護に努めます。</p>
		
		<h3>1 個人情報保護マネジメントシステムの策定及び継続的改善</h3>
		<p>当社は、個人情報を安全かつ適切に保護するための個人情報保護マネジメントシステム(本方針､「個人情報保護基本規程」及びその他の規程、規則等を含む) を策定し、実施し、維持し、また、監査や代表取締役社長による見直し等の機会を通じて、当該個人情報保護マネジメントシステムを継続的に改善します。</p>
		<h3>2 個人情報の取扱い</h3>
		<p>当社は､｢個人情報保護基本規程｣及びその他の規程､規則等に従い､各部門の業務内容及び規模を考慮した適切な個人情報保護のための管理体制を確立すると共に、個人情報を適切に取得､利用､提供し、利用目的の範囲を超えた取扱いを行いません。</p>
		<h3>3 安全対策の実施</h3>
		<p>当社は､個人情報の安全性及び正確性を確保するために、情報セキュリティ対策をはじめとする安全対策を実施し､漏えい、滅失又はき損等の防止ならびに是正に関する適切な措置を講じます。</p>
		<h3>4 法令及びその他の規範の遵守</h3>
		<p>当社は、個人情報の取扱いにあたり、当該個人情報に関して適用される法令及びその他の規範を遵守します。</p>
		<h3>5 本人の権利尊重</h3>
		<p>当社は､個人情報に関するご本人の権利を尊重し､ご本人から自己情報の開示､訂正もしくは削除､または利用もしくは提供の拒否を求められたときは､合理的な範囲でこれに応じます。</p>
		<h3>6 問合せ・苦情への対応</h3>
		<p>当社は、保有する個人情報に対するお問合せや苦情に対して、受付、対応の体制と手順を整備し、迅速に対応いたします。 </p>
		<br>
		<h3 style="font-weight:400;float:right;">制定年月日　2005年5月23日　株式会社MH-CARGO　代表取締役　林光雄</h3>
	</div>
        <section id="companyContainer">
			<article id="companyTitle" class="titleBox"> 
				<h2>お問い合わせ</h2>
				<span>Information</span>
		  </article>
            <ul>
                <li>
                    <h5>本社所在地</h5>
                    〒287-0244<br>
                    千葉県成田市川上245-694
                </li>
                <li>
                    <h5>成田営業所所在地</h5>
                    〒282-0004<br>
                    千葉県成田市成田国際空港内 第1貨物代理店ビル312号 
                </li>
                <li>
                    <h5>お問い合わせ先</h5>
                    <h4>0476-49-0022</h4>
                </li>
            </ul>
			<section id="infoBox">
				<a href="infomation.html">メールでの問い合せはこちら</a>
			</section>
        </section>
		<section class="calle25Box mgB03">
			<a href="http://www.challenge25.go.jp/index.html" target="blank">
				<img src="../images/challe25.png" width="298" height="138">
			</a>
		</section>
		<section class="calle25Box">
			<a href="http://www.shutoko.jp/" target="blank">
				<img src="../images/traffic_report.png" width="298" height="100">
			</a>
		</section>
	</div>    
    <!-- //mainContainer -->
    <footer>
        <article id="shadowBox">
            <a href="#top">▲ GO TOP</a>
        	<img src="../images/line-footer.png" width="1000" height="36">
	  </article>
        <section id="footerContainer">
            <article id="footerRogoBox">
            	<img src="../images/rogo03.png" width="384" height="75">
            </article>
            <article id="siteMap">
            <a href="index.html">ホーム</a>　　<a href="job.html">事業案内</a>　　<a href="company.html">会社概要</a>　　<a href="recruit.html">求人情報</a>　　<a href="info.html">お問い合わせ</a><br>　　<a href="index.html">リンク</a>　　<a href="privacy.html">プライバシーポリシー</a><br><br>
            本社：千葉県成田市川上245-694 <br> 　
            TEL:0476-49-0022　FAX:0476-49-0303<br>
            Copyright (c) 2012 MH CARGO.inc.All Rights Reserved.
            </article>
        </section>
    </footer>
</body>
</html>
