<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>株式会社MH CARGO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="../css/html5reset.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/animation.css" />
</head>
<body>
    <header id="top" class="clearFix mgB03">
        <nav id="navi">
        	<div id="rogo">
            	<img src="../images/rogo.png" width="170" height="55" alt="MH CARGO">
            </div>
            <ul>
                <li><a href="index.html">ホーム<br>home</a></li>
                <li><a href="job.html">事業案内<br>business</a></li>
                <li><a href="company.html" class="active">会社概要<br>company</a></li>
                <li><a href="recruit.html">求人情報<br>recruit</a></li>
                <li><a href="info.html">お問い合わせ<br>information</a></li>
                <li><a href="index.html">リンク<br>link</a></li>
            </ul>
        </nav>
    </header>
    <div id="mainContainer" class="clearFix"> <!-- mainContainer -->
		<div id="leftBox">
			<h1><img src="../images/title_safety.png" height="35"></h1>
			<img src="../images/line_02.png" class="mgB06">
			<img src="../images/line_01.png">
			<section class="clearFix">
				<table id="companyBox">
					<tr>
						<th>■輸送の安全に関する基本的な方針</th>
						<td></td>
					</tr>
					<tr>
						<th><img src="../images/safety001.jpg" /></th>
						<td>経営トップは、輸送の安全が事業経営の根底であることを深く認識し、社内において、輸送の安全の確保に主導的な役割を果たす。また、現場における安全に関する声に真摯に耳を傾けるなど現場の状況を十分に踏まえつつ、社員に対し輸送の安全の確保が最も重要であるという意識を徹底させる。</td>
					</tr>
					<tr>
						<th><img src="../images/safety004.png" /></th>
						<td>安全運転を第一とし、法令を遵守し、基本に忠実に日々の業務を遂行する。</td>
					</tr>
					<tr>
						<th><img src="../images/safety002.jpg" /></th>
						<td>車両の定期点検を確実に行い、日常点検を厳格に行う。</td>
					</tr>
					<tr>
						<th><img src="../images/safety003.jpg" /></th>
						<td>体験・実践的な安全教育を周期的に実施し、効率的かつ適切な指導を行う。</td>
					</tr>
					<tr>
						<th colspan="2">■輸送の安全に関する目標及び達成状況</th>
					</tr>
					<tr>
						<th>平成23年度目標</th>
						<td>重大事故　0件</td>
					</tr>
					<tr>
						<th>平成23年度達成状況</th>
						<td>重大事故の発生　0件</td>
					</tr>
					<tr>
						<th colspan="2">■自動車事故報告規則第２号に規定する事故に関する統計</th>
					</tr>
					<tr>
						<th>平成23年度該当する事故件数　</th>
						<td>0件</td>
					</tr>
				</table>
			</section>
            
	  </div>
		
        <section id="companyContainer">
			<article id="companyTitle" class="titleBox"> 
				<h2>お問い合わせ</h2>
				<span>Information</span>
		  </article>
            <ul>
                <li>
                    <h5>本社所在地</h5>
                    〒287-0244<br>
                    千葉県成田市川上245-694
                </li>
                <li>
                    <h5>成田営業所所在地</h5>
                    〒282-0004<br>
                    千葉県成田市成田国際空港内 第1貨物代理店ビル312号 
                </li>
                <li>
                    <h5>お問い合わせ先</h5>
                    <h4>0476-49-0022</h4>
                </li>
            </ul>
			<section id="infoBox">
				<a href="infomation.html">メールでの問い合せはこちら</a>
			</section>
        </section>
		<section class="calle25Box mgB03">
			<a href="http://www.challenge25.go.jp/index.html" target="blank">
				<img src="../images/challe25.png" width="298" height="138">
			</a>
	  </section>
		<section class="calle25Box">
			<a href="http://www.shutoko.jp/" target="blank">
				<img src="../images/traffic_report.png" width="298" height="100">
			</a>
		</section>
        
	</div>    <!-- //mainContainer -->
	
    <footer>
        <article id="shadowBox">
            <a href="#top">▲ GO TOP</a>
        	<img src="../images/line-footer.png" width="1000" height="36">
	  </article>
        <section id="footerContainer">
            <article id="footerRogoBox">
            	<img src="../images/rogo03.png" width="384" height="75">
            </article>
            <article id="siteMap">
            <a href="index.html">ホーム</a>　　<a href="job.html">事業案内</a>　　<a href="company.html">会社概要</a>　　<a href="recruit.html">求人情報</a>　　<a href="info.html">お問い合わせ</a><br>　　<a href="index.html">リンク</a>　　<a href="privacy.html">プライバシーポリシー</a><br><br>
            本社：千葉県成田市川上245-694 <br> 　
            TEL:0476-49-0022　FAX:0476-49-0303<br>
            Copyright (c) 2012 MH CARGO.inc.All Rights Reserved.
            </article>
        </section>
    </footer>
</body>
</html>
